/*favorite food*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #D1BE9C;
	min-height: 750px;
	padding: 2px;
}

.fave{
	text-align: center;
	font-size: 70px;
	padding-top: 20px;
	font-family: "open sans", monospace;
	color: #CC8B86 ;
	text-shadow: 3px 3px #000000;
}

.other{
	text-align: center;
	font-size: 35px;
	padding-top: 10px;
	font-family: "open sans", monospace;
}

.food1 {
	display: inline-block;
	width: 19.5%;
	border: 3px solid #CC8B86;
	font-size: 20px;
	text-align: center;
	vertical-align: top;
	font-family: "open sans";
	text-shadow: 1px 1px #000000;
}
.pic1 {
	display: inline-block;
	width: 19.5%;
	border: 3px solid #CC8B86;
	text-align: center;
}

div {
	display: inline-block;
	text-align: center;
}

.othf {
	border: 3px solid #CC8B86;
	text-align: center;
}

.other {
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
	font-family: "open sans", monospace;
	color: #F9EAE1 ;
	text-shadow: 3px 3px #000000;
}

.othf {
	border: 3px solid #CC8B86;
	text-align: center;
}

p {
	font-family: "open sans";
	text-shadow: 1px 1px #000000;
	font-size: 20px;
	text-align: center;
}








