
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2px;
	margin: 2px;
}


.blue-text-bg-yellow {
	color: blue;
	background: yellow;
}

.blue-text-bg-green {
	color: blue;
	background: green;

}

.bg-yellow {
	color: black;
	background: yellow;
}

.bg-black-red-text {
	background: black;
	color: red;
}
.red-text-bg-blue {
	color: red;
	background: blue;
}