* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color:darkblue;
	background-color: #B3C5D7;
}

/*p,h4 {
	color: navy;
}*/

body>nav>ul>li {
	list-style-type: none;
	display: inline-block;
	padding: 0.8rem;
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	
}

nav>ul {
	text-align: right;
	font-family: "Open Sans",monospace;
	color: white;
	border: 1px;
	border-color: aliceblue;
	font-size: 16px;
}

nav {
	padding: 1px;
	position: sticky;
	top: 0;
	background-color: white;]
	margin-bottom: 70px;
	background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/429/103/original/global-news-background-video.jpg);
	background-repeat: no-repeat;
	background-size: 100;
	background-position: center;
	background-attachment: scroll;
}

#img1{
	position: inherit;
	top: 100%;
	list-style-type: none;
	width: 400px; height: 100px; object-fit: cover;
	/*width: 30px;
	height: 30px;*/
}

#title-kbs {
	text-align: left;
	font-size: 40px;
	color: floralwhite;
	font-family: "open sans";
	font-weight: 500;
	margin-left: 15%;
	text-shadow: 3px 3px #000000;
}

#kinabukasan {
	font-size: 20px;
	margin-left: 5%;
	color: skyblue;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: white;
}
 
 a:hover {
  color: darkblue;
}

#articles {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#articles h2 {
	margin-bottom: 1rem;
}

#articles h3 {
	text-align: center;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-family: "calibri";
}

#articles h4 {
	text-align: center;
	margin-bottom: 1rem;
}

#articles .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: justify;

}

.card img {
	width: 100%;
	border: 2px solid #A2AD59;
}

.article-titles {
	text-align: center;
	font-family:"open sans";
	font-size: 50px;
	}

	footer {
		text-align: center;
		padding: 0.7rem;
		font-family: "calibri";
		font-size: 20px;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	}