/*push-cart*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #E3D87E;
	min-height: 750px;
}

body>nav>ul>li {
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	vertical-align: bottom;
	text-align: left;
	font-weight: bolder;
	font-family: 'Source Code Pro', monospace;
	
}

#brand {
	font-weight: bolder;
	font-size: 50px;
	font-family: "Lobster", cursive;
	left: 5%;
	top: 1px;
	list-style-type: none;
}


nav {
	position: sticky;
	top: 0;
	background-color: white;

}


h1 {
	text-align: center;
	margin-top: 40px;
	font-family: 'Source Code Pro', monospace;
	font-size: 80px;

}

p {
	text-align: center;
	margin-top: 10px;
	font-family: "Lobster", cursive;
	font-size: 40px;
	margin-bottom: 50px;
}

a:link {
  color: #5B6C5D;
  text-decoration: none;
}
 
 a:hover {
  color: #56E39F;
}

#introduction {
	align-content: center;
}

div{
	text-align: center;
	min-height: 650px;
}

.btn-cta {
	background-color: #336589;
	color: white;
	font-weight: 300;
	font-size: 18px;
	border-radius: 25px;
	padding-left: 45px;
	padding-top: 10px;
	padding-right: 45px;
	padding-bottom: 10px;
	font-family: "Source Code Pro", monospace;
	margin-top: 100px;
}

footer {
		text-align: center;
		padding: 0.7rem;
		font-family: "calibri";
		font-size: 20px;
		background-color: #3B2C35;
		bottom: 0;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	}